<p>投稿一覧</p>

<div>
  <%= link_to "投稿する",new_public_post_path %>
</div>

  
  <% @posts.each do |post| %>
  
        <%= link_to public_post_path(post.id) do %>
          <% if post.main_images.attached? %>
            <% post.main_images.first(1).each do |main_image| %>
              <%= image_tag main_image.variant(resize: "300x200^!"),class: "gallery" %>
            <% end %>
          <% end %>
        <% end %>
        <%= post.title %>
        <div id="star-all-rate<%= post.id%>"></div>
        <div id="favorite_<%= post.id %>">
          <%= render 'public/favorites/favorite', post: post %>
        <div>
        
      <script>
        $('#star-all-rate<%= post.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf  : '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= post.all_rate %>,
        });
      </script>  
  
  <% end %>
  
<main class="grid">
<% @posts.each do |post| %>
  
        <%= link_to public_post_path(post.id) do %>
          <% if post.main_images.attached? %>
            <% post.main_images.first(1).each do |main_image| %>
              <%= image_tag main_image.variant(resize: "300x200^") %>
            <% end %>
          <% end %>
        <% end %>
      
<% end %>
</main>