<div class="post-form">
<h1>投稿フォーム</h1>
<%= form_with model: @post,url: public_posts_path do |f| %>

  <%= f.label :main_images ,'画像' %>
  <%= f.file_field :main_images, multiple: true %>
  
  <div class="post-field">
   <%= f.text_field :title, class: "form-box" %>
   <%= f.label :title ,'タイトル' %>
   <span class="focus-line"></span>
  </div>
  
  <div class="post-field">
  <%= f.text_field :address, class: "form-box" %>
  <%= f.label :address ,'所在地' %>
  <span class="focus-line"></span>
  </div>
  
  <div class="post-field">
  <%= f.text_area :body,class: "text-box", rows: 10 %>
  <%= f.label :body ,'コメント' %>
  <span class="focus-box"><i></i></span>
  </div>
  
  
 <div class='form-group'>
  <%= f.collection_check_boxes(:jenre_ids, Jenre.all, :id, :name) do |jenre| %>
    <div class='form-check'>
      <%= jenre.label do %>
        <%= jenre.check_box %>
        <%= jenre.text %>
      <% end %>
    </div>
  <% end %>
  </div>
  
  <div class='form-group'>
  <%= f.collection_check_boxes(:place_ids, Place.all, :id, :name) do |place| %>
    <div class='form-check'>
      <%= place.label do %>
        <%= place.check_box %>
        <%= place.text %>
      <% end %>
    </div>
  <% end %>
  </div>
  
  <div class='form-group'>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
    <div class='form-check'>
      <%= category.label do %>
        <%= category.check_box %>
        <%= category.text %>
      <% end %>
    </div>
  <% end %>
  </div>
  
  <div class="field" id="all_rate_star">
    <%= f.label :all_rate, '満足度' %>
    <%= f.hidden_field :all_rate, id: :review_star %>
  </div>
  
  <div class="field" id="rush_rate_star">
    <%= f.label :rush_rate, '混み具合' %>
    <%= f.hidden_field :rush_rate, id: :review_star %>
  </div>
  
  <div class="field" id="relax_rate_star">
  <%= f.label :relax_rate, '安らぎ' %>
  <%= f.hidden_field :relax_rate, id: :review_star %>
  </div>
  
  <div class="field" id="beautiful_rate_star">
  <%= f.label :beautiful_rate, '綺麗さ' %>
  <%= f.hidden_field :beautiful_rate, id: :review_star %>
  </div>

<%= f.submit '投稿する' %>
<% end %>
</div>

<!-- 評価javascript -->
  <script>
  $('#all_rate_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[all_rate]',
    half: true,
  });
  $('#rush_rate_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rush_rate]',
    half: true,
  });
   $('#relax_rate_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[relax_rate]',
    half: true,
  });
   $('#beautiful_rate_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[beautiful_rate]',
    half: true,
  });
  </script>  