
      <% if @post.main_images.attached? %>
        <% @post.main_images.each do |main_image| %>
          <%= image_tag main_image.variant(resize_to_limit: [100, 100]) %>
        <% end %>
      <% end %>

    <%= @post.title %>
    <%= @post.body %>
    <%= @post.address %>
    <div id="favorite_<%= @post.id %>">
        <%= render 'public/favorites/favorite', post: @post %>
    </div>
    
    <% if @post.user == current_user %>
      <button><%= link_to "編集", edit_public_post_path(@post) %></button>
      <button><%= link_to "削除", public_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' } %></button>
    <% else %>
      
    <% end %>
    
    <!--レビュー機能-->
    <div id="star-all-rate<%= @post.id%>"></div>
    <div id="star-rush-rate<%= @post.id%>"></div>
    <div id="star-relax-rate<%= @post.id%>"></div>
    <div id="star-beautiful-rate<%= @post.id%>"></div>
    
  
<!--タグ関連-->
    <div class="tag">
      <% @post.jenres.each do |jenre| %>
       <span><%= jenre.name %></span>
      <% end %>
      
      <% @post.places.each do |place| %>
       <span><%= place.name %></span>
      <% end %>
      
      <% @post.categories.each do |category| %>
       <span><%= category.name %></span>
      <% end %>
    </div>

<!--コメント機能-->
<div id="form-area">
 <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
</div>

<!--コメント一覧-->
<div id="comments-area">
 <%= render 'public/post_comments/post_comment', post: @post, post_comment: @post_comment %>
</div>

<!--レビュー機能JavaScript-->
     <script>
        $('#star-all-rate<%= @post.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf  : '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= @post.all_rate %>,
        });
         $('#star-rush-rate<%= @post.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf  : '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= @post.rush_rate %>,
        });
         $('#star-relax-rate<%= @post.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf  : '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= @post.relax_rate %>,
        });
         $('#star-beautiful-rate<%= @post.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf  : '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= @post.beautiful_rate %>,
        });
      </script>