<div class="top">
  <div class="previews">
    <div class="slider">
      <%= image_tag 'yoru10.png'%>
      <%= image_tag 'yoru1.png'%>
      <%= image_tag 'yoru2.png'%>
      <%= image_tag 'yoru4.png'%>
      <%= image_tag 'yoru6.png'%>
    </div>
  </div>
  <p><span class="top-title">Yofukashi</span><br />nigth view gallery site</p>
</div>


