<section class="top">
  <h1 class="title">Yofukashi</h1>
  <p>夜景レビューサイト</p>
</section>
<div class="previews">
  <div class="slider">
      <%= image_tag 'yakei1.jpg'%>
      <%= image_tag 'yakei2.jpg'%>
      <%= image_tag 'yakei3.jpg'%>
      <%= image_tag 'yakei4.jpg'%>
      <%= image_tag 'yakei5.jpg'%>
  </div>
</div>

<script>
  
$(function() {
  $('.slider').slick({
  autoplay: true,
  autoplaySpeed: 2000
  });
});

</script>
