<div id="lording">
  <div id="lording-text"></div>
</div>
<div class="top">
  <div class="previews">
    <div class="slider">
      <%= image_tag 'yoru10.png'%>
      <%= image_tag 'yoru1.png'%>
      <%= image_tag 'yoru2.png'%>
      <%= image_tag 'yoru4.png'%>
      <%= image_tag 'yoru6.png'%>
    </div>
  </div>
  <p><span class="top-title">Yofukashi</span><br />night view gallery site</p>
</div>

<script>
    
  $(function() {
    $('.slider').slick({
    autoplay: true,
    pauseOnHover: false,
    fade: true,
    autoplaySpeed: 3000
    });
  });
  
  var bar = new ProgressBar.Line(lording-text,{
    easing: 'easeInOut',
    duration: 1000,
    strokeWidth: 0.2,
    color: '#555',
    trailWidth: 0.2,
    trailColor: '#bbb',
    text: {
      style: {
        position: 'absolute',
        left: '50%',
        top: '50%',
        padding: '0',
        margin: '-30px 0 0 0',
        transform: 'translate(-50%,-50%)',
        'font-size': '1rem',
        color: '#fff',
      },
      autoStyleContainer: false
    },
    step: fanction(state, bar){
      bar.setText(Math.round(bar.value()*100)+'%');
    }
  });
  bar.animate(1.0,fanction(){
    $("lording").delay(500).fadeOut(800);
  });
 
  
</script>
