<div class="form-area">
  <h2 class="border-bottom my-5">ログイン</h2>
　<%# deivseのフラッシュメッセージを表示 %>
  <p class="alert"><%= alert %></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="devise-field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-box" %>
    <%= f.label :Eメール %>
    <span class="focus-line"></span>
  </div>

  <div class="devise-field">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-box" %>
    <%= f.label :パスワード %>
    <span class="focus-line"></span>
  </div>

  <div class="actions">
    <%= f.submit "ログイン",class: "form-btn" %>
  </div>
<% end %>

<h5 class="border-bottom text-left mt-5">会員登録がお済みでない方</h5>
<p><%= render "public/shared/links" %>から新規登録を行ってください</p>

</div>
