

<div class="container">
  <div class="profile">
      <%= image_tag @user.get_profile_image,class: "profile-img" %>
      <div class="profile-name"><%= @user.name %></div>
      <div class="profile-introduction"><%= @user.introduction %></div>
      
    <%= link_to "プロフィールを編集", edit_public_user_path(current_user), class: "link-btn" %>
  </div>
  
  <main>
    <h4 class="user-post">投稿一覧</h4>
    <%= render 'public/posts/index',posts: @posts %>
    
  </main>
    
</div>