<header>
  <!--ユーザのヘッダー-->
  <% if user_signed_in? %>
    <ul class="text-nav">
      
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-text" %></li>
      
      <li><%= link_to "マイページ", public_user_path(current_user), class: "header-text" %></li>
      
      <li><%= link_to "みんなの投稿",public_posts_path, class: "header-text" %></li>
      
      <li><%= link_to "投稿する",new_public_post_path, class: "header-text" %></li>
    </ul>
  <!--アドミンのヘッダー-->
  <% elsif admin_signed_in? %>
    <ul class="text-nav">
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header-text" %></li>
    </ul>
  <!--ゲストのヘッダー-->
  <% else %>
    <ul class="text-nav">
      
      <li><%= link_to 'ログイン',new_user_session_path, class: "header-text" %></li>
      
      <li><%= link_to 'サインイン',new_user_registration_path, class: "header-text" %></li>
      
      <li><%= link_to 'about',about_path, class: "header-text"%></li>
    </ul>
  <% end %>
</header>
