<header>
  <div class="header-wapper">
    
    <h2>
      <%= link_to root_path,class: "top-icon",data: {"turbolinks" => false} do %>
       <i class="far fa-moon"></i>Yofukashi
      <% end %>
    </h2>
    <!--ユーザのヘッダー-->
    <% if user_signed_in? %>
      <nav>
        <ul class="text-nav">
          <li><%= link_to 'はじめに',about_path, class: "header-text"%></li>
          
          <li>
            <%= link_to public_user_path(current_user), class: "header-text" do %>
              <i class="fas fa-user"></i>マイページ
            <% end %>
          </li>
          
          <li>
            <%= link_to new_public_post_path, class: "header-text" do %>
              <i class="fas fa-edit"></i>投稿する
              <% end %>
          </li>
          
          <li>
            <%= link_to public_posts_path, class: "header-text" do %>
              <i class="fas fa-users"></i>みんなの投稿
            <% end %>
          </li>
          
          <li>
            <%= link_to rank_public_posts_path, class: "header-text" do %>
              <i class="fas fa-crown"></i>ランキング
            <% end %>
          </li>
          
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "header-text" do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
          
          <li>
            <%= link_to search_public_posts_path, class: "header-text" do %>
               <i class="fas fa-search"></i>検索
            <% end %>   
          </li>
        </ul>
      </nav>
    <!--アドミンのヘッダー-->
    <% elsif admin_signed_in? %>
      <nav>
        <ul class="text-nav">
           <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: "header-text" do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
          
          <li>
            <%= link_to admin_users_path, class: "header-text" do %>
              <i class="fas fa-users"></i>ユーザー一覧
            <% end %>
          </li>
          
          <li>
            <%= link_to admin_posts_path, class: "header-text" do %>
              <i class="fas fa-edit"></i>投稿一覧
              <% end %>
          </li>
        </ul>
      </nav>
    <!--ゲストのヘッダー-->
    <% else %>
      <nav>
        <ul class="text-nav">
          <li><%= link_to 'はじめに',about_path, class: "header-text"%></li>
          
          <li>
            <%= link_to new_user_session_path, class: "header-text" do %>
              <i class="fas fa-sign-in-alt"></i>ログイン
            <% end %>
          </li>
          
          <li>
            <%= link_to new_user_registration_path, class: "header-text" do %>
              <i class="fas fa-user-plus"></i>新規登録
            <% end %>
          </li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
