<header>
  <!--ユーザのヘッダー-->
  <% if user_signed_in? %>
    <ul>
      <li>ようこそ、<%= current_user.name %>さん！</li>
      
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      
      <li><%= link_to "マイページ", public_user_path(current_user) %></li>
      
      <li><%= link_to "投稿",public_posts_path %></li>
    </ul>
  <!--アドミンのヘッダー-->
  <% elsif admin_signed_in? %>
    <ul>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
    </ul>
  <!--ゲストのヘッダー-->
  <% else %>
    <ul>
      <li><%= link_to 'ログイン',new_user_session_path %></li>
      
      <li><%= link_to 'サインイン',new_user_registration_path %></li>
      
      <li><%= link_to 'about',about_path%></li>
    </ul>
  <% end %>
</header>
