<!DOCTYPE html>
<html>
  <head>
    <title>Yofukashi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <!-- 'header'の部分テンプレート -->
    <header>
      <i class="fa-solid fa-comment"></i>
      <%= render 'layouts/header' %>
    </header>
    
    <%= yield %>
    
    <!-- 'footer'の部分テンプレート -->
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
